.header-menu {
    &__login {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 192px;
        height: 40px;
        border-radius: 6px;
        border: 2px solid #ffffff;
        background-color: transparent;
        color: #ffffff;
        outline: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
        cursor: pointer;
        a {
            display: block;
            color: #ffffff;
            
            text-align: center;
            text-decoration: none;
        }

        &:hover {
            background: #F24E0C;
            transition-duration: 0.3s;
        }
    }
}